@model IEnumerable<SAXO.Models.BookViewModel>

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="@item.ImageUrl" alt="@item.Name" style="max-height: 150px;" />
            <div class="caption text-center">
                <h4>@item.Name</h4>
                <p><a href="@item.Url" class="btn btn-primary" role="button" target="_blank">Get more info</a></p>
            </div>
        </div>
    </div>
}
