@{
    ViewBag.Title = "Home Page";
}
<br/>
    <div class="row"><div class="col-md-4">
    @using (Ajax.BeginForm("GetBooks", "Home", new AjaxOptions { HttpMethod = "POST" }))
    {
        <textarea id="isbn" name="isbns" role="textbox"></textarea>
        <button type="submit" class="btn btn-lg btn-primary btn-block" >Submit</button>
}
</div> 
    <div class="col-md-8">
        @Html.Action("ShowBooks","Home")
    </div>
</div>